@import "./../../common/styles/sass/variables";

.nav {
  display: flex;
  justify-content: space-between;
  min-width: 220px;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
  transition: all .2s ease;

  @media screen and (max-width: 785px) {
    display: none;
  }

  .item {
    list-style: none;
    margin-left: 2px;
    margin-right: 2px;
    transition: all .2s ease;
    @media (max-width: 785px) {
      margin: 0 auto;
      height: 40px;
      padding-top: 5px;
      padding-bottom: 5px;
      transition: all .2s ease;

    }

    .active {
      color: #20c997;
    }

  }

  .link {
    color: $textColor;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 13.6px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    @media (max-width: 785px) {
      height: 40px;

    }

    &:hover {
      color: #1baa80;
      transition: all .2s ease;
    }
  }
}

