@import "./../common/styles/sass/variables";
@import "./../common/styles/sass/mixins";

.contactBlock {
  min-height: 100vh;
  width: 100%;
  padding: 100px 0;
  background-color: $bgColorSecond;
  display: flex;
  align-items: center;

  scroll-behavior: smooth;
  @media (max-width: 1070px) {
    padding: 45px 0;
  }

  .container {
    @include container();
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    .contactInfo {
      display: flex;
      justify-content: space-around;
      width: 100%;
      @media (max-width: 872px) {
        flex-wrap: wrap;
      }

      .contactFollow {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 60%;
        padding: 20px 12px;
        box-sizing: border-box;
        font-weight: 600;
        margin-right: 30px;

        text-align: center;



        @media (max-width: 872px) {
          width: 80%;
          margin-right: 0;
          margin-bottom: 40px;
        }
        @media (max-width: 520px) {
          width: 100%;
          padding: 20px 5px;
        }

        .followTitle {
          @media (max-width: 872px) {
            margin: 0 auto 20px;
          }
        }


        .followHire {
          margin: 0;
          font-weight: 400;
          text-align: center;
          @media (max-width: 872px) {
            margin: 0 auto 20px;
          }
        }

        .followPhone {
          margin: 0 0 10px;
          font-weight: 400;
          @media (max-width: 872px) {
            margin: 0 auto 20px;
          }
        }

        .followEmail {
          margin: 0 0 10px;
          font-weight: 400;
          @media (max-width: 872px) {
            margin: 0 auto 20px;
          }
        }

        .items {
          width: 320px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 0 8px;
          margin: 0 auto;
          @media (max-width: 872px) {
            margin: 0 auto;
            padding: 0;
            justify-content: space-between;
          }
          @media (max-width: 520px) {
            width: 100%;
            padding-right: 10px;

          }
          @media (max-width: 360px) {
            justify-content: space-between;
            padding-right: 20px;
          }
        }
      }

      .contactForm {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 20px;
        padding: 0 12px;
        box-sizing: border-box;
        width: 60%;
        @media (max-width: 872px) {
          width: 100%;
          margin-left: 0;
        }


        .formTitle {
          margin: 0;
          font-size: 21px;
          text-transform: capitalize;
        }

        .form {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          height: 200px;
          width: 100%;
          margin: 0 auto;

          .inputName {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            gap: 20px;
            @media (max-width: 612px) {
              flex-wrap: wrap;
              width: 100%;
            }

            .input {
              display: block;
              font-size: 20px;
              font-weight: 400;
              flex: 0 0 auto;
              flex-grow: 1;
              @media (max-width: 612px) {
                margin-bottom: 10px;
                width: 100%;
              }

              &::placeholder, &[placeholder] {
                font-size: 16px;
                color: #656565;
                opacity: 0.7;
                padding: 5px;
              }

            }
          }

          .textarea {
            display: block;
            resize: none;
            width: 100%;
            padding: 0.81rem 0.96rem;
            @media (max-width: 612px) {
            }

            &::placeholder, &[placeholder] {
              color: #656565;
              opacity: 0.7;

              font-size: 16px;
              font-family: $fontFamily;
            }
          }
        }
      }

    }

    .buttonSend {
      margin-top: 5px;
      height: 30px;
      align-self: center;
      background-color: transparent;
      border: none;
      outline: none;
      font-family: inherit;
      &:disabled {
        z-index: 10;

      }
    }

    .sendingMail {
      font-family: $fontFamily;
      margin-top: 50px;
      height: 30px;
      border-radius: 30px;
      background-color: #1baa80;
      text-decoration: none;
      transition: all .2s ease;
      color: rgba(255, 255, 255, 1);
      text-align: center;
      font-size: 18px;
      font-weight: 500;

    }
  }
}

@media screen and (max-width: 430px) {
  .form {
    width: 100%;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: #1f1f20;
  -webkit-box-shadow: 0 0 0 1000px rgba(200, 255, 0, 0.11) inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
}