@import "./../common/styles/sass/variables";

.contactBlock {
  background-color: $bgColorSecond;
  opacity: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  align-self: center;
  width: 100%;
  height: 550px
}

.title {
  align-self: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 360px;
}
.input {
  display: block;
  width:  100%;

}
.textarea {
  display: block;
  resize: none;
  width: 100%;

}

.buttonSend {
  margin-top: 5px;
  border: 1px solid olivedrab;
  width: 100px;
  height: 30px;
  align-self: center;
}

@media screen and (max-width: 430px) {
  .form {
    width: 100%;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: #1f1f20;
  -webkit-box-shadow: 0 0 0 1000px red inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
}