.skill {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 250px;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  text-align: center;
  fill: #20c997;
}

.title {
  margin: 0;
}

.description {
  margin: 0;
  display: block;
  align-items: center;
  box-sizing: border-box;
}