.projectsTitle {
  margin-bottom: 30px;
}

.title {
  color: rgba(33, 37, 41, 1);
  font-weight: 600;
  font-size: 4.25rem;
  text-align: center;
  line-height: 94px;
  margin: 0;
}

.separatorLine {
  display: block;
  text-align: center;
  margin: 0 auto;
  background-color: #20c997;
  height: 3px;
  width: 100px;
}
