@import "./../../../common/styles/sass/variables";

.projectsTitle {
  margin-bottom: 30px;

  .title {
    color: $textColor;
    font-weight: 600;
    font-size: 4.25rem;
    text-align: center;
    line-height: 94px;
    margin: 0;

    .separatorLine {
      display: block;
      text-align: center;
      margin: 0 auto;
      background-color: #20c997;
      height: 3px;
      width: 100px;
    }

  }
}



