@import "./../../common/styles/sass/variables";

.nav {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
  scroll-behavior: smooth;

  flex-direction: column;
  border-radius: 5px;
  background-color: rgba(232, 235, 238, 0.8);
  transform: translateY(-300px);
  transition: all 0.6s ease;

  //@media screen and (min-width: 785px) {
  //  //transition:  all 0.8s ease
  //}
  //@media screen and (max-width: 425px) {
  //  left: 0;
  //  right: 0;
  //}

  .item {
    list-style: none;
    margin: 0 auto;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    @media screen and (min-width: 785px) {
      display: none;
    }


  }

  .link {
    color: $textColor;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 13.6px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    @media (max-width: 785px) {
      height: 40px;

    }

    &:hover {
      color: #1baa80;
      transition: all .2s ease;
    }
  }
}

.show {
  transition: all 0.6s ease;
  transform: translateY(130px);
}
