@import "./../common/styles/sass/variables";
@import "./../common/styles/sass/mixins";

.aboutBlock {
  opacity: 1;
  width: 100%;
  min-height: 100vh;
  background-color: $bgColor;
  display: flex;
  align-items: center;
  scroll-behavior: smooth;
  @media (max-width: 1070px) {
    padding: 45px 0;
    min-height: 100vh;
  }
}

.container {
  @include container();
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  .aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 872px) {
      flex-wrap: wrap;
    }

    .aboutMeSummary {
      display: flex;
      flex-direction: column;
      justify-content: start;
      max-width: 850px;
      padding: 0 12px;
      box-sizing: border-box;
      font-weight: 600;
      margin-right: 20px;

      @media (max-width: 872px) {
        margin-right: 0;
      }

      .aboutMeTitle {
        margin: 0 0 16px;
        font-size: 28px;
        text-align: center;
        color: $textColor;
        white-space: break-spaces;
        @media (max-width: 460px) {
          font-size: 24px;
        }

        @media (max-width: 320px) {

          font-size: 22px;
        }

        @media (max-width: 242px) {

          margin-top: 30px;
        }

      }

      .aboutMeName {
        color: #20c997;
      }

      .aboutMeText {
        margin: 0 0 16px;
        font-weight: 400;
        text-align: justify;
        @media (max-width: 872px) {
          text-align: center;
        }
      }
    }

    .aboutMeInfo {
      display: flex;
      flex-direction: column;
      justify-content: start;
      padding: 0 12px;
      box-sizing: border-box;

      .infoList {
        padding: 0 10px;
        list-style: none;

        .infoItem {
          padding: 12px 0;
          font-weight: 400;
          display: flex;

          .infoText {
            font-weight: 600;
            margin-right: 5px;
          }

          .infoEmail {
            color: #20c997;
            margin-right: 5px;
          }
        }
      }

      .button {
        background-color: transparent;
        border: none;
        outline: none;
        font-family: inherit;
      }

      .downloadCv {
        display: block;
        text-align: center;
        text-decoration: none;
        border-width: 2px;
        font-weight: 500;
        border-radius: 25px;
        color: white;
        font-size: 16px;
        background-color: #1baa80;
        border-color: #1baa80;
        padding: 12.80px 41.6px;
        box-shadow: 0 5px 15px rgba(0,0,0,.3);
      }
    }
  }
}
