.skillsBlock {
  background-color: rgba(232, 235, 238, 0.5);
  opacity: 1;
  width: 100%;
  min-height: 100vh;
  padding: 100px 0;
}

.skillsContainer {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  background-color: white;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid green;
  width: 100%;
}
