@import "./../common/styles/sass/mixins";

.mainBlock {
  background-color: rgba(232, 235, 238, 0.5);
  opacity: 1;
  min-height: 100vh;
  display: flex;
  align-items: center;
  scroll-behavior: smooth;


  @media (max-width: 800px) {
    padding: 120px 0 0 0;
  }
}

.mainContainer {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  @include container();

  @media (max-width: 1099px) {
    flex-direction: column;
    padding: 120px 0 0 0;
  }

  @media (max-width: 381px) {
    padding: 20px 0 0 0;
  }

.textBlock {
  max-width: 500px;
  @media (max-width: 353px) {

  }


  .greeting {
    font-size: 28px;
    margin: 0 0 16px;
    text-align: center;
    @media (max-width: 353px) {
      font-size: 24px;
      text-align: center;
    }
  }

  .title {
    margin: 0;
    font-size: 48px;
    text-align: center;
    @media (max-width: 602px) {
      text-align: center;
    }
    @media (max-width: 353px) {
      font-size: 36px;

    }
  }

  .skills {
    font-size: 28px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 0 16px;
    text-align: center;
    @media (max-width: 353px) {
      font-size: 24px;
    }
  }

  .based {
    font-size: 18px;
    text-align: center;
    margin: 0 0 24px;
    @media (max-width: 602px) {
      text-align: center;
    }
  }


  .button {
    margin: 40px auto;
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: inherit;

    .buttonLink {
      display: block;
      text-align: center;
      text-decoration: none;
      border-width: 2px;
      font-weight: 500;
      border-radius: 30px;
      color: white;
      font-size: 16px;
      background-color: #1baa80;
      border-color: #1baa80;
      padding: 12.80px 41.6px;
      cursor: pointer;

      &:hover {
        background-color: #23856a;
        box-shadow: 0 0 5px 1px rgba(33, 37, 41, 1);
        transition: all .2s ease;
        color: rgba(255, 255, 255, 0.62);
      }

      &:active {
        box-shadow: none;
        transition: all .2s ease;
        background-color: #1baa80;
        color: rgba(255, 255, 255, 1);
      }
    }

  }

}

.photo {
  border-radius: 50%;
  margin-bottom: 20px;
  width: 400px;
  height: 400px;
  background: gray;
  margin-left: 35px;
  @media (max-width: 1099px) {
    margin-left: 0;

  }
  @media (max-width: 490px) {
    width: 270px;
    height: 270px;
  }
  @media (max-width: 350px) {
    width: 240px;
    height: 240px;
  }

  .image {
    display: block;
    width: 100%;

  }
}



}