.mainBlock {
  background-color: rgba(232, 235, 238, 0.5);
  opacity: 1;
  height: 100vh;
}

.mainContainer {

  flex-direction: row;
  justify-content: space-around;
  align-items: center;


}


.textBlock {
  width: 500px;
  padding-top: 100px;

  .greeting {
    font-size: 28px;
    margin: 0 0 16px;
    @media (max-width: 602px) {
      text-align: center;
    }
  }

  .title {
    margin: 0;
    font-size: 48px;
    @media (max-width: 602px) {
      text-align: center;
    }
  }

  .skills {
    font-size: 28px;
    margin: 0 0 16px;
    @media (max-width: 602px) {
      text-align: center;
    }
  }

  .based {
    font-size: 18px;
    margin: 0 0 24px;
    @media (max-width: 602px) {
      text-align: center;
    }
  }
}

.photo {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  background-color: gray;
  @media (max-width: 490px) {
    width: 270px;
    height: 270px;
  }
}