.buttonLink {
  display: block;
  text-align: center;
  text-decoration: none;
  border-width: 2px;
  font-weight: 500;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  background-color: #1baa80;
  border-color: #1baa80;
  padding: 12.80px 41.6px;
  cursor: pointer;
  transition: all .2s ease;
  &:hover {
    background-color: #23856a;
    box-shadow: 0 0 5px 1px rgba(33, 37, 41, 1);
    transition: all .2s ease;
    color: rgba(255, 255, 255, 0.62);
  }

  &:active {
    box-shadow: none;
    transition: all .2s ease;
    background-color: #1baa80;
    color: rgba(255, 255, 255, 1);

  }
  &:disabled {
    background-color: #2e2f2f;
  }
}


.buttonSend {
  margin-top: 5px;
  height: 30px;
  align-self: center;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;

  &:disabled {
    z-index: 10;
    background-color: rebeccapurple;
  }
}
