@import "./../../common/styles/sass/variables";
@import "./../../common/styles/sass/mixins";

.project {
  @include text($fontFamily, 1.325rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 415px;
  text-align: center;
  margin: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  text-decoration: none;
  transition: all .6s ease;
  border-radius: 5.5px;
  &:hover {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.6);
    transition: all .6s ease;

  }

  .image {
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 100%;
    text-align: center;
    background-size: 65%;
    background-repeat: no-repeat;
    position: relative;
    border-top-left-radius: 5.5px;
    border-top-right-radius: 5.5px;
    transition-duration: 0.3s;
    background-color: $bgColorSecond;
    transition: all .6s ease;

    &:before {
      position: absolute;
      border-top-left-radius: 8.5px;
      border-top-right-radius: 8.5px;
      transition: all .6s ease;
    }

    .button {
      position: relative;
      z-index: 1;
    }

    .link {
      display: block;
      text-decoration: none;
    }
  }

  .information {
    padding: 10px 0;
    border-bottom-left-radius: 5.5px;
    border-bottom-right-radius: 5.5px;
    border: 0.5px solid rgba(145, 148, 163, .1);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    flex-grow: 1;
    transition: all .6s ease;

    .title {
      margin: 0;
      line-height: 1.8;
      font-weight: 600;
      font-size: 1.325rem;
    }

    .description {
      margin: 0;
      padding-left: 15px;
      padding-right: 15px;
      align-items: center;

    }
  }
}








