.project {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 415px;
  text-align: center;


  margin: 10px;
  color: rgba(33, 37, 41, 1);

}

.image {
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 407px;
  width: 100%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.image:before {
  position: absolute;
  content: '';
  background-color: black;
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.projectInformation {
  border: 1px solid red;
}

.icon {
  display: block;
  background-color: #61dafb;
  height: 100%;
  width: 100%;
}

.information {
  padding: 20px 0;
  background-color:rgba(145, 148, 163, .1);
}

.title {
  margin: 0;
  line-height: 1.8;
  font-weight: 600;
  font-size: 1.325rem;
}

.description {
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
}

.button {
  position: relative;
  z-index: 1;
}