@import "src/common/styles/sass/mixins";

.svg {
  cursor: pointer;
  transition: all .4s ease;

  &:hover {
    fill: rgba(245, 192, 0, 0.5);
    transition: all .4s ease;
  }

  &:focus {
    fill: transparent;
  }
}

.svgTelegram {
  cursor: pointer;
  transition: all .4s ease;

  &:hover {
    fill: rgba(10, 102, 194, 0.89);
    transition: all .4s ease;
  }

  &:focus {
    fill: #000000;
    transition: all .4s ease;
  }

  @include svgMediaQuery()
}

.svgGmail {
  cursor: pointer;
  transition: all .4s ease;

  &:hover {
    fill: rgba(10, 102, 194, 0.89);
    transition: all .4s ease;
  }

  &:focus {
    fill: transparent;
  }

  @include svgMediaQuery()
}

.svgCodewars {
  cursor: pointer;
  transition: all .4s ease;

  &:hover {
    fill: rgba(10, 102, 194, 0.89);
    transition: all .4s ease;
  }

  &:focus {
    fill: #ffffff;
  }

  @include svgMediaQuery()
}

.svgLinkedin {
  cursor: pointer;
  transition: all .4s ease;

  &:hover {
    fill: rgba(10, 102, 194, 0.89);
    transition: all .4s ease;
  }

  &:focus {
    fill: transparent;
    transition: all .4s ease;
  }

  @include svgMediaQuery()
}

.svgGithub {
  cursor: pointer;
  transition: all .4s ease;

  &:hover {
    transition: all .4s ease;

    .svgGithubColor {
      transition: all .4s ease;
      opacity: 1;
      fill: rgba(10, 102, 194, 0.89);
    }
  }

  &:focus {
    fill: #000000;
    transition: all .4s ease;
  }

  @include svgMediaQuery()
}