@import "./../common/styles/sass/mixins";

.footerBlock {
  width: 100%;
  min-height: 10%;
  padding: 10px 0;

  .footerContainer {
    display: flex;
    justify-content: center;
    @include container();
  }

  .information {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    @media (max-width: 580px) {
      flex-direction: column;
      text-align: center;

    }
  }

  .copyright, .developed {
    font-size: 14px;
    @media (max-width: 580px) {
      margin: 0;
    }
  }


}





