.footerBlock {
  width: 100%;
  min-height: 20%;
  background-color: #61dafb;
}

.footerСontainer {
  display: flex;
  background-color: lemonchiffon;
  justify-content: center;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

}

.copyright{

}

.items {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

