@import "./../common/styles/sass/variables";

.projectBlock {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: $bgColor;
  opacity: 1;
  color: $textColor;
  padding: 100px 0;
  @media (max-width: 1070px) {
    padding: 45px 0;
  }
  .projectContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
}
