@import "./../common/styles/sass/variables";

.projectBlock {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: $bgColor;
  opacity: 1;
  color: $textColor;
  padding: 100px 0;

  .projectContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid fuchsia;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid green;
    width: 100%;
  }
}
