.projectBlock {
  background-color: blanchedalmond;
  width: 100%;
  min-height: 100vh;
}

.projectContainer {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid fuchsia;
}

.title {
  background-color: white;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid green;
  width: 100%;
}
